/*     
    RESET GENERAL
*/

*{  margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/*   
    ESTILO GENERAL
*/
:root {
    --color-h1: #0b465f;
    --color-h2:#3F9B94;
    --color-h3: #2F80A3;
    --color-fondo: #F4FBFA ;
    --color-tarjetas:#E3F5F2;
    --color-botones: #2F80A3;
    --color-imputs: #fafefd;
    --color-texto: #0000;
    --color-bordes:#8FDCD8;
    --color-navbar-y-footer: #1F5E7A;
     
}
body 
{
    font-family: Arial, sans-serif;
    background-color:var(--color-fondo);
    color:var(--color-texto);
    line-height: 1.6;

}

/*
    HEADER
*/

header 
{
    background:linear-gradient(135deg,#1F5E7A,#6cc8c2);
    text-align: center;
    padding: 60px 20px; 

}

header h1 
{
    color: var(--color-h1);
    font-size: 50px;
    margin-bottom: 10px;

}

header p 
{
    font-size: 20px;
    color:var(--color-texto);
}


/*
    NAVBAR
*/



nav 
{
    position: fixed;
    background-color: var(--color-navbar-y-footer);
    padding: 15px;
    text-align: center;
}

nav a 
{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight: bold;
}


nav a hover 
{
    color:#caf0f8;
}

/*
        MAIN
*/

main 
{
    padding: 50px 20px;


}


/*
    INICIO 
*/

#index 
{
    text-align: center;
    margin-bottom: 80px;
}

#index h2
{
    font-size: 40px;
    color:var(--color-h2);
    margin-bottom: 20px;

}

#index p
{
    max-width: 900px;
    margin:auto;
    font-size: 18px;
}

/* 
    NOSOTROS
*/


#nosotros
{
    max-width: 1000px;
    margin:auto;
}

#nosotros h2
{
    text-align: center;
    color:var(--color-h2);
    margin-bottom: 30px;

}

#nostros h3
{
    color:var(--color-h3);
    margin-top: 30px;
    margin-bottom: 15px;
}

#nostros p 
{
    margin-bottom: 20px;

}

/* 
    PROGRAMA
*/

#programa 
{
    text-align: center;

}

#programas h2
{
    color:var(--color-h2);
    margin-bottom: 20px;

} 

#programas p

{
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;


}


/*
    GRID DE PROGRAMAS (Sirve para organizar los talleres en columnas y filas )

*/



.programas-grid
{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax (280px,1fr));
    gap: 25px;
    margin-bottom: 40px;
}

/*
    TALLERES
*/

.programas-grid
{
    background-color: var(--color-fondo);
    padding:25px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s;

}


.programas:hover
{
    transform: translatey(-5 px);

}


.programas h3
{
    color:var(--color-h3);
    margin-bottom: 15px;

}

.programas p
{
    margin-bottom: 15px;

}

.programas ul 
{
    margin-left: 20px;
    margin-top:10px;

}

.programas li 
{
    margin-bottom: 8px;

}

/* 
    CONTACTO
*/


#contacto 
{
    text-align: center;

}

#contacto h2 
{
    color:var(--color-h2);
    margin-bottom: 20px;
    
}

#contacto p 
{
    margin-bottom: 15px;

}

/*
    FORMULARIO
*/

form 
{
    max-width: 700px;
    margin: 40px auto;
    display:flex;
    flex-direction: column;
}

label{
    margin-top: 15px;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
}

input,select,textarea
{
    padding :12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;

}

textarea
{
    resize: vertical;
}

button 
{
    margin-top:25px;
    padding:15px;
    background-color: var(--color-fondo);
    color:var(--color-texto);
    border:none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    
}

button:hover{
    background-color: var(--color-fondo);

}

/*
    FOOTER
*/

footer {
    background-color: var(--color-navbar-y-footer);
    color:var(--color-texto);
    text-align: center;
    padding: 25px;
    margin-top: 60px;
}